# Environment variables
.env
.env.local
.env.*.local

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

airflow/data/landing/

credentials/
*.json